<label>Cuotas:</label>
<select id="installmentsQuantity">
    {{#each paymethods}}
        {{#if selected}}
            {{#each installments}}
            <option value="{{qty}}">{{qty}}</option>
            {{/each}}
        {{/if}}
    {{/each}}
</select>
